


.container-fluid
{
   width: 400%;
   height: 100%;
overflow-x: auto;

/*overflow-y: auto;*/
/*background-color: red;*/
}
/*::-webkit-scrollbar
{
   /*background-color: black;*/
   width:100%;

}*/




.col-sm-4
{

   height:700px;
/*background-color: blue;*/
}

#c1
{
   width: 1500px;
   height:600px;
   position: fixed;
   z-index: 50;
/*background-color: orange;*/
/*opacity: 0;*/

}
.imgs
{
   left: 400px;
   position: relative;
   opacity: 0.6;
}

.carousel-inner
{
z-index: -200;
   position: absolute;
}
.container
{
   position: absolute;
   z-index: 350;

}
.li
{
   position: absolute;
   font-size: 115%;
   font-family: 'Pacifico', cursive;
   color: black;
}
.col-sm-2
{
   height: 75px;
   width: 130px;
   margin: 40px;
   background-color: 	#DEB887;
}
.col-sm-2:hover
{
   /*height: 230px;
   width: 230px;*/
   background-color: #A52A2A;
   transition: 0.8s ease;

}

#a1
{
   /*background-image: url("../dining_bimini_people.jpg");*/
   background-clip: border-box;

}
#a2
{
   /*background-image: url("../Avoiding-Junk-Food.jpg");*/
}
#a3
{
   /*background-image: url("../BBQFamily.jpg");*/
}
.overlay
{
   height: 600px;
   background-color: 	#F0E68C;
   z-index: 1000;
   position: absolute;

}
#a
{

height: 650px;
   /*background-color: red;*/
   background-image: url("../dining_bimini_people.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#b
{
   height: 650px;
   background-repeat: no-repeat;
      background-size: cover;
   /*background-color: blue;*/
   background-image: url("../Avoiding-Junk-Food.jpg");
   background-blend-mode: hue;
}
#c
{
   height: 650px;
   background-repeat: no-repeat;
      background-size: cover;
   /*background-color: black;*/
   background-image: url("../BBQFamily.jpg");
}
.p1
{
   left: 400px;
   font-size: 300%;
   font-family: fantasy;
   font-style: italic;
   font-weight: bold;
   position: absolute;
   color: black;

}
ul
{
   list-style: none;
}
