body
{
   /*background-image: url("../510867783.jpg");*/
background-attachment: fixed;
/*background-repeat: no-repeat;*/
background-size: cover;
background-color: grey;
}
.a1
{
   height: 50px;
   width: 400px;
}
.men
{
   /*position: absolute;*/
   height: 75px;
   height: 75px;
   z-index: 2001;
top: 100px;

}
.health
{
   position: absolute;
   left: 40px;
   /*display: none;*/
   color: orange;
   font-size: 110%;
   font-weight: bold;
   background-color: black;
}


.men:hover
{
   height: 200px;
   height: 200px;
   transition: 0.7s ease;
}


.ul
{
position: absolute;
   top: 50px;
      z-index: 5000;
}

.container-fluid
{
   width: 400%;
   height: 100%;
overflow-x: auto;

/*overflow-y: auto;*/
/*background-color: red;*/
}
/*::-webkit-scrollbar
{
   /*background-color: black;*/
   width:100%;

}*/
.images
{
   height: 50px;
   width: 50px;
}
#white
{
   /*left: 400px;*/
   /*background-color: white;*/
}
#black
{
   /*background-color:black;*/
   /*width: 2000px;
   height: 50px;*/
}
div
{
-webkit-transition-delay: 2s;
transition-delay: 2s;
}
.col-sm-4
{

   height:700px;
/*background-color: blue;*/
}
#menubar
{
   position: fixed;
   z-index: 3000;
   background-color: black;

}
#c1
{
   width: 1500px;
   height:600px;
   position: fixed;
   z-index: 100;
/*background-color: orange;*/
/*opacity: 0;*/

}
.imgs
{
   left: 400px;
   position: relative;
   opacity: 0.6;
}
#c2
{
   margin-left: 1500px;
   width: 1500px;
height: 600px;
/*background-color: black;*/
position: relative;
z-index: 2000;
/*opacity: 0;*/
}
@keyframes #c2 {
   10%{background-color: red;}
   50%{background-color:black; }
}
#c2{
   /*background-color: red;*/
   animation-name: #c2;
animation-duration: 5s;
animation-delay: 3s;
}
video
{
   z-index: -100;
   position: fixed;
   width: 100%;
   height: 100%;

}
#c3
{
   width: 1500px;
   height: 600px;
   background-color: blue;
   /*opacity: 1;*/
   position: relative;
   z-index: 2000;
}
#p
{
   /*opacity: 1;*/
   color: white;

}
